@model Denok.Web.Modules.Link.Model.GenerateViewModel

@{
    ViewData["Title"] = "Custom Link";
}

<!-- Page Heading -->
<h1 class="h3 mb-1 text-gray-800">Create your custom beautiful short link</h1>

<!-- Grow In Utility -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Custom Link</h6>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <code>Paste your original link here</code>
        </div>
        <form class="user" asp-action="GenerateCustom" asp-controller="Link" method="post">
            <div class="form-group">
                <input asp-for="@Model.CustomLinkRequest.OriginalLink" type="text" name="originalLink" class="form-control"
                    id="originalLink" placeholder="your original link (eg: https://example.com/very-long-path-here)"/>
                <span asp-validation-for="@Model.CustomLinkRequest.OriginalLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="@Model.CustomLinkRequest.CustomLink" type="text" name="customLink" class="form-control"
                    id="customLink" placeholder="your custom link (eg: KeepItSimple)"/>
                <span asp-validation-for="@Model.CustomLinkRequest.CustomLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="@Model.CustomLinkRequest.Description" type="text" name="description" class="form-control"
                    id="description" placeholder="description (optional)"/>
            </div>
            <input type="submit" value="Generate" class="btn btn-primary btn-block"/>
        </form>
        <hr>
        <div class="input-group mb-3">
            <input class="form-control" type="text" value="@if (@Model.GeneratedLink != null){@Model.GeneratedLink}" id="outputLink" aria-label="Output Link" readonly/>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" data-clipboard-action="copy" data-clipboard-target="#outputLink">Copy</button>
            </div>
        </div>
        @if (@Model.ErrorMessage != null)
        {
            <hr>
            <span class="text-danger">@Model.ErrorMessage</span>
        }
    </div>
</div>
