@model Denok.Web.Modules.Link.Model.GenerateViewModel

@{
    ViewData["Title"] = "Link Detail";
}
<!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">Link Detail</h1>

    <!-- Content Row -->
    <div class="row">

        <!-- Grow In Utility -->
        <div class="col-lg-6">

            <div class="card position-relative">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" id="outputLink">@Model.LinkDetail.GeneratedLink</h6>
                    
                </div>
                <div class="card-body">
                    @if (@Model.ErrorMessage != null)
                    {
                        <div class="mb-3">
                            <code>@Model.ErrorMessage</code>
                        </div>
                    }
                    <div class="mb-3"><h6><label class="text-info">Generated Link:</label> @Model.LinkDetail.GeneratedLink</h6></div>
                    <div class="mb-3"><h6><label class="text-info">Original Link:</label> @Model.LinkDetail.OriginalLink</h6></div>
                    <div class="mb-3"><h6><label class="text-info">Total Visits:</label> @Model.LinkDetail.TotalVisits</h6></div>
                    <div class="mb-3"><h6><label class="text-info">Description:</label> @Model.LinkDetail.Description</h6></div>
                    <div class="mb-3"><h6><label class="text-info">Created At:</label> @Denok.Web.Utils.Utils.DateTimeToStringFormated(Model.LinkDetail.CreatedAt)</h6></div>
                    <div class="mb-3"><button class="btn btn-outline-secondary" type="button" data-clipboard-action="copy" data-clipboard-target="#outputLink">Copy</button></div>
                    
                </div>
            </div>

        </div>

    </div>